<body>
 
 <% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
   <% end %>
   
   
 <div class="books">
  <h1><strong>Books</strong></h1>

 </div>

 <table>
  <div class="thead">
   <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
   </tr>
  </div>




  <div class="tbody">
   <tr>
     <% @books.each do |book| %>
    <td>
      <span><%= book.title %></span>
    </td>
    <td>
     <span><%= book.body %></span>
    </td>
    <td>
     <span><%= link_to "Show", show_path(book.id) %></span>
     </td>
    <td>
     <span><%= link_to "Edit", edit_book_path(book.id) %></span>
    </td>
    <td>
     <span><%= link_to "Destroy", destroy_book_path(book.id), method: :delete,"data-confirm" => "Are you sure?" %></span>


    </td>
    <td></td>
   </tr>


     <% end %>
  </div>

 </table>

 <%= form_with model: @books, url: "/books", method: :post, local:true do |f| %>

 <h1>New book</h1>

 <h4>Title</h4>
 <%= f.text_field :title %>

 <h4>Body</h4>
 <%= f.text_area :body %>

 <span>
 <%= f.submit "Create Book" %>
 </span>
<% end %>

</body>